:root.theme-dark {
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color: #000028;
  --hero-text-color: #db00ff;
  --header-main-text-color: #000028;
  --text-accent-color: #ff0070;
  --navigation-color: #ff0070;
  --navigation-color-rgb: 255, 0, 112;
  --section-heading-color: #ff0070;
  --card-heading-color: #000028;
  --main-text-color: #f1b2ce;
  --accent-color: #ff8dcb;
}
