/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --page-bg-image: url("../images/cover-image-light.png");
  --page-bg-color: #fff;
  --main-heading-color: #ffc2e6;
  --header-main-text-color: #353430;
  --text-accent-color: #ff8dcb;
  --navigation-color: #353430;
  --navigation-color-rgb: 53, 52, 48;
  --section-heading-color: #353430;
  --card-heading-color: #353430;
  --main-text-color: #353430;
  --accent-color: #ff8dcb;
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url("../images/cover-image-light.png");
    --page-bg-color: #fff;
    --main-heading-color: #ffc2e6;
    --header-main-text-color: #353430;
    --text-accent-color: #ff8dcb;
    --navigation-color: #353430;
    --navigation-color-rgb: 53, 52, 48;
    --section-heading-color: #353430;
    --card-heading-color: #353430;
    --main-text-color: #353430;
    --accent-color: #ff8dcb;
  }

  .theme-auto .rec {
    display: none;
  }
}
